/* iCheck.js Line skin
----------------------------------- */
.icheck_line {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #000;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line.hover,
    .icheck_line:hover {
        background: #444;
    }
    .icheck_line.static:hover,
    .icheck_line.checked {
        background: #000;
    }
        .icheck_line.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line.disabled {
        background: #ccc;
        cursor: default;
    }
        .icheck_line.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line.checked.disabled {
        background: #ccc;
    }
        .icheck_line.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* red */
.icheck_line-red {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #e56c69;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-red .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-red.hover,
    .icheck_line-red:hover {
        background: #E98582;
    }
    .icheck_line-red.static:hover,
    .icheck_line-red.checked {
        background: #e56c69;
    }
        .icheck_line-red.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-red.disabled {
        background: #F7D3D2;
        cursor: default;
    }
        .icheck_line-red.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-red.checked.disabled {
        background: #F7D3D2;
    }
        .icheck_line-red.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-red .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* green */
.icheck_line-green {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #1b7e5a;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-green .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-green.hover,
    .icheck_line-green:hover {
        background: #24AA7A;
    }
    .icheck_line-green.static:hover,
    .icheck_line-green.checked {
        background: #1b7e5a;
    }
        .icheck_line-green.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-green.disabled {
        background: #89E6C4;
        cursor: default;
    }
        .icheck_line-green.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-green.checked.disabled {
        background: #89E6C4;
    }
        .icheck_line-green.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-green .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* blue */
.icheck_line-blue {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #2489c5;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-blue .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-blue.hover,
    .icheck_line-blue:hover {
        background: #3DA0DB;
    }
    .icheck_line-blue.static:hover,
    .icheck_line-blue.checked {
        background: #2489c5;
    }
        .icheck_line-blue.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-blue.disabled {
        background: #ADD7F0;
        cursor: default;
    }
        .icheck_line-blue.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-blue.checked.disabled {
        background: #ADD7F0;
    }
        .icheck_line-blue.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-blue .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* aero */
.icheck_line-aero {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #9cc2cb;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-aero .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-aero.hover,
    .icheck_line-aero:hover {
        background: #B5D1D8;
    }
    .icheck_line-aero.static:hover,
    .icheck_line-aero.checked {
        background: #9cc2cb;
    }
        .icheck_line-aero.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-aero.disabled {
        background: #D2E4E8;
        cursor: default;
    }
        .icheck_line-aero.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-aero.checked.disabled {
        background: #D2E4E8;
    }
        .icheck_line-aero.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-aero .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* grey */
.icheck_line-grey {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #73716e;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-grey .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-grey.hover,
    .icheck_line-grey:hover {
        background: #8B8986;
    }
    .icheck_line-grey.static:hover,
    .icheck_line-grey.checked {
        background: #73716e;
    }
        .icheck_line-grey.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-grey.disabled {
        background: #D5D4D3;
        cursor: default;
    }
        .icheck_line-grey.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-grey.checked.disabled {
        background: #D5D4D3;
    }
        .icheck_line-grey.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-grey .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* orange */
.icheck_line-orange {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #f70;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-orange .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-orange.hover,
    .icheck_line-orange:hover {
        background: #FF9233;
    }
    .icheck_line-orange.static:hover,
    .icheck_line-orange.checked {
        background: #f70;
    }
        .icheck_line-orange.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-orange.disabled {
        background: #FFD6B3;
        cursor: default;
    }
        .icheck_line-orange.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-orange.checked.disabled {
        background: #FFD6B3;
    }
        .icheck_line-orange.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-orange .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* yellow */
.icheck_line-yellow {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #FFC414;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-yellow .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-yellow.hover,
    .icheck_line-yellow:hover {
        background: #FFD34F;
    }
    .icheck_line-yellow.static:hover,
    .icheck_line-yellow.checked {
        background: #FFC414;
    }
        .icheck_line-yellow.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-yellow.disabled {
        background: #FFE495;
        cursor: default;
    }
        .icheck_line-yellow.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-yellow.checked.disabled {
        background: #FFE495;
    }
        .icheck_line-yellow.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-yellow .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* pink */
.icheck_line-pink {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #a77a94;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-pink .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-pink.hover,
    .icheck_line-pink:hover {
        background: #B995A9;
    }
    .icheck_line-pink.static:hover,
    .icheck_line-pink.checked {
        background: #a77a94;
    }
        .icheck_line-pink.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-pink.disabled {
        background: #E0D0DA;
        cursor: default;
    }
        .icheck_line-pink.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-pink.checked.disabled {
        background: #E0D0DA;
    }
        .icheck_line-pink.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-pink .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* purple */
.icheck_line-purple {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #6a5a8c;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheck_line-purple .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(~'@{pathToImg}/icheck/line/line.png') no-repeat;
        border: none;
    }
    .icheck_line-purple.hover,
    .icheck_line-purple:hover {
        background: #8677A7;
    }
    .icheck_line-purple.static:hover,
    .icheck_line-purple.checked {
        background: #6a5a8c;
    }
        .icheck_line-purple.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheck_line-purple.disabled {
        background: #D2CCDE;
        cursor: default;
    }
        .icheck_line-purple.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheck_line-purple.checked.disabled {
        background: #D2CCDE;
    }
        .icheck_line-purple.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-purple .icheck_line-icon {
        background-image: url(~'@{pathToImg}/icheck/line/line@2x.png');
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}