/*floats*/
.f-left  {float:left !important;}
.f-right {float:right !important;}

// show and hide
.hidden  	{visibility:hidden;}
.visible 	{visibility:visible;}
.hide 		{display:none;}
.show 		{display:block;}
tr.show 	{display:table-row !important;}
td.show 	{display:table-cell !important;}

// clearfix from mixin
.clearfix
{
	.clearfix();
}


/* container width and alignment */
.container
{
	max-width:  @container-width;
	margin: 	0 auto;
	float:  	none !important;
	.clearfix();
}

//grid system 
[class*="b-col-"]
{
	.f-left;
	min-height: 1px;
	position: 	relative;
	padding: 	0 10px 0 10px;
	.box-sizing();
	
	&.centered
	{
		float: 		none !important;
		margin: 	0 auto;
	}
	
	&:first-child,
	&.break
	{
		padding-left:0;
	}
	
	&.end,
	&:last-child
	{
		.f-right;
		padding-right: 0;
	}

	&+[class*="b-col-"].break
	{
		.f-left;
	}
}

/* columns generator */
.generate-columns(@n, @i: 1) when (@i <= @n) {
  .b-col-@{i} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1));
}
.generate-columns(12);



.inline-list
{
	list-style: none;
	padding: 	0;
	margin: 	0;
	
	>li
	{
		display:-moz-inline-stack;
		display:inline-block;
		*display:inline; *zoom:1;
	}
}

.text
{
	.font()
	{
		font-family: Arial, Helvetica, sans-serif;
	}
	.font(@family)
	{
		font-family: ~'@{family}', Arial, Helvetica, sans-serif;
	}
	
	&-uppercase
	{
		text-transform:uppercase;
	}
	
	
}


.b-button
{
	a&
	{
		text-decoration: none !important;
	}
	line-height: 		1;
	position: 			relative;
	background: 		#fff;
	padding: 			6px 21px 5px;
	font-size: 			14px;
	color: 				#DE2C26;
	border: 			0;
	display: 			inline-block;
	*display: 			inline; *zoom: 1;
	.prefixr(border-radius,	4px);
	.prefixr(text-shadow, 	0 -1px 1px #BF4E00);
	behavior: 			url(@pathToPIE);
	
	
	&__gray
	{
		background:#EBEBEB;
		color:#828282;
		border-bottom: 1px solid #EBEBEB;

		.prefixr(text-shadow, 0 1px 0px #FAFAFA);
		#gradient > .vertical(#FFFFFF,#EBEBEB);
		.prefixr(box-shadow, 0 2px 1px #CECECE);

		&:hover
		{
			background: lighten(#EBEBEB,3%);
			#gradient > .vertical(#FFFFFF,lighten(#EBEBEB,3%));
		}
		&:active
		{
			background: 		#F1F1F1;
			.prefixr(box-shadow, inset 1px 1px 3px darken(#F1F1F1,30%)) !important;
		}
	}

	&:active
	{
		.prefixr(box-shadow, none);
	}
}
.icon
{
	&-vkontakte,
	&-facebook,
	&-livejournal,
	&-youtube,
	&-twitter,
	&-mailru,
	&-odnoklassniki
	{
		width: 		21px;
		height: 	21px;
		display: 	block;
		background: url(~'@{pathToImg}/sprite.png') #15566F;
		position: 	relative;
		.prefixr(box-shadow,0 2px 1px #11556C);
		behavior: 	url(@pathToPIE);
	}

	&-vkontakte
	{
		background-position:-1px -253px;
	}
	&-facebook
	{
		background-position:-27px -252px;
	}
	&-livejournal
	{
		background-position:-54px -252px;
	}
	&-youtube
	{
		background-position:-81px -252px;
	}
	&-twitter
	{
		background-position:-107px -252px;
	}
	&-mailru
	{
		background-position:-134px -252px;
	}
	&-odnoklassniki
	{
		background-position:-162px -253px;
	}
}