@pathToPIE: 								'js/pie/PIE.htc';
@pathToImg: 								'../i/bg';

@container-width: 							980px;
@column-padding: 							0 10px 0 5px;


/* colors */
@c-dark: 									#464646;
@c-gray: 									#6D6E71;



/* form */
@input-border-color: 						#92918B;
@input-text-color: 							#94938C;


/* navigation */
@navbar-background: 						#474747;
@navbar-link-color:							#BBBBBB;
@navbar-link-hover-color:					#FFFFFF;
@navbar-link-active-color:					#FFFFFF;
