@import url(inc.loader.less);

/* Generate font-face  */
// THE EXAMPLE: .font-include('OpenSans','../fonts/OpenSans');

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	&, body {
		margin: 0px;
		padding: 0px;
		*overflow: auto;
	}
} 

body
{
	.text > .font();
	font-size: 			14px;
	line-height: 		1;
	color: 				#333333;
	background-color: 	#ffffff;
}

input, button, select, textarea
{
	font-family: 	inherit;
	font-size:  	inherit;
	line-height: 	inherit;
}

a 
{
	text-decoration: none;

	&:hover,
	&:focus 
	{
		text-decoration: underline;
	}
}
img 
{
	vertical-align: middle;
	border: 0;
}



.b-page
{
	width:  	940px;
	padding: 	0 10px;
	margin:  	0 auto;
	.clearfix();
}
/* ---- header ---- */
.b-page-header
{
	margin-bottom: 10px;
	z-index: 5;
	
}

/* ---- logotype ---- */
.b-header-logotype
{
	margin: 	17px 0 0 0;
	padding: 	0;
	
	& > &__link
	{
		display: 		block;
		width: 			250px;
		height: 		72px;
		text-indent: 	-999px;
		overflow: 		hidden;
		position: 		relative;	
		background: 	transparent url(~'@{pathToImg}/assets/logotype.png') 0 0 no-repeat;
	}
}

/*   menu    */
.b-headnav
{
	@nav-width: 					960;
	@items-count: 					12;
	@headnav-background-color: 		#38527C;
	@link-background-color: 		#38527C;
	@link-hover-background-color: 	darken(@link-background-color, 10%);
	@text-color: 					#fff;
	@text-hover-color: 				#fff;
	

	padding:  		0 10px;
	position: 		relative;
	z-index:  		80;
	color: 			@text-color;
	
	&-list
	{
		position: 	relative;
		top:  		9px;
		background: @headnav-background-color;
		z-index: 	90;

		& > &-item
		{
			position: relative;
			a
			{
				width: 			floor(@nav-width/@items-count);
				display: 		block;
				height: 		54px;
				line-height: 	54px;
				text-align: 	center;
				font-size:  	21px;
				color: 			@text-color;
				background: 	@link-background-color;	
			}
			&:hover > a
			{
				background: 		@link-hover-background-color;
				text-decoration: 	none;
				color: 				@text-hover-color;
			}
		}
		
		& > .b-dropdown-nav
		{
			z-index: 100;
			&:after
			{
				display: 	block;
				width: 		8px;
				height: 	6px;
				content: 	'';
				position: 	absolute;
				right: 		10px;
				top: 		50%;
				margin-top: -3px;
				background: #fff;
			}
			> .b-dropdown-nav-list
			{
				display: 		none;
				position: 		absolute;
				background: 	@headnav-background-color;
				list-style: 	none;
				padding: 		0;
				margin: 		0;
				width: 			floor(@nav-width/@items-count);
				*zoom: 			1;
				overflow: 		hidden;
				behavior: 		url(@pathToPIE);

				> .b-dropdown-nav-list-item
				{
					> a
					{
						color: 				@text-color;
						font-size: 			14px;
						height: 			30px;
						line-height: 		30px;
						text-decoration: 	none;
						&:hover
						{
							text-decoration: 	underline;
							background:  		@text-hover-color;
							color: 				@text-hover-color;
						}

					}
				}
			}
			&:hover
			{
				> .b-dropdown-nav-list
				{
					display: block;
				}
			}
		}
	}

}

.b-page-main
{
	font-family:kelson_sansRegular ;

}

.b-page-footer
{
	width: 		940px;
	padding: 	0 10px;
	margin: 	21px auto 0 auto;
	position: 	relative;
}