/* iCheck.js Minimal skin, green
----------------------------------- */
.icheckbox_minimal-green,
.iradio_minimal-green {
    display: block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(~'@{pathToImg}/icheck/minimal/green.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal-green,
.icheckbox_minimal-green.static:hover {
    background-position: 0 0;
}
    .icheckbox_minimal-green.hover,
    .icheckbox_minimal-green:hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal-green.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal-green.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal-green.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal-green,
.iradio_minimal-green.static:hover {
    background-position: -100px 0;
}
    .iradio_minimal-green.hover,
    .iradio_minimal-green:hover {
        background-position: -120px 0;
    }
    .iradio_minimal-green.checked {
        background-position: -140px 0;
    }
    .iradio_minimal-green.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal-green.checked.disabled {
        background-position: -180px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_minimal-green,
    .iradio_minimal-green {
        background-image: url(~'@{pathToImg}/icheck/minimal/green@2x.png');
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}