/* iCheck.js Minimal skin, black ----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
    display: block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(~'@{pathToImg}/icheck/minimal/minimal.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal,
.icheckbox_minimal.static:hover {
    background-position: 0 0;
}
    .icheckbox_minimal.hover,
    .icheckbox_minimal:hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal,
.iradio_minimal.static:hover {
    background-position: -100px 0;
}
    .iradio_minimal.hover,
    .iradio_minimal:hover {
        background-position: -120px 0;
    }
    .iradio_minimal.checked {
        background-position: -140px 0;
    }
    .iradio_minimal.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal.checked.disabled {
        background-position: -180px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_minimal,
    .iradio_minimal {
        background-image: url(~'@{pathToImg}/icheck/minimal/minimal@2x.png');
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}