/* iCheck.js Square skin, red
----------------------------------- */
.icheckbox_square-red,
.iradio_square-red {
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(~'@{pathToImg}/icheck/square/red.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-red,
.icheckbox_square-red.static:hover {
    background-position: 0 0;
}
    .icheckbox_square-red.hover,
    .icheckbox_square-red:hover {
        background-position: -24px 0;
    }
    .icheckbox_square-red.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-red.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-red.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-red,
.iradio_square-red.static:hover {
    background-position: -120px 0;
}
    .iradio_square-red.hover,
    .iradio_square-red:hover {
        background-position: -144px 0;
    }
    .iradio_square-red.checked {
        background-position: -168px 0;
    }
    .iradio_square-red.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-red.checked.disabled {
        background-position: -216px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-red,
    .iradio_square-red {
        background-image: url(~'@{pathToImg}/icheck/square/red@2x.png');
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}